@import "../../../../assets/styles/variables.scss";

@media (min-width: $breakpoint-small) {
  .navLinksContainer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $base-m-font-size;
    a {
      text-align: center;
      text-decoration: none;
      color: $dark-gray;
    }
  }
}
