@import "../../../assets/styles/variables.scss";

%box-center {
  display: flex;
  align-items: center;
}

.navWrapper {
  width: 100vw;
  height: 70px;
  @extend %box-center;
  justify-content: center;

  .navContainer {
    width: 85vw;
    height: 100%;
    @extend %box-center;
    justify-content: space-between;

    .navLinks {
      display: none;
    }

    span {
      font-size: $base-ml-font-size;
      font-weight: 700;
      line-height: 0.9;
      color: $primary-color;
    }

  }
}

@media (min-width: $breakpoint-small) {
  .navWrapper {
    .navContainer {
      width: 70vw;
      .menuMobileContainer {
        display: none;
      }

      .navLinks {
        display: inline;
        width: 70%;
      }
    }
  }
}
