@import "../../assets/styles/variables.scss";

.btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: $base-m-font-size;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.btnAdd {
  background-color: $primary-color;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  &:hover {
    background-color: rgb(1, 106, 138);
    color: white;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: $dark-gray;
  }
}

.btnSignIn {
  background-color: $gray;
  width: 100%;
  color: $dark-gray;
}

@media (min-width: $breakpoint-medium) {
  .btnAdd {
    margin-left: 10px;
    margin-top: 0;
    width: 50px;
  }

  .btnSignIn {
    &:hover {
      background-color: $white-color;
    }
  }
}
