@import "../../assets/styles/variables.scss";

%box-center {
    display: flex;
    align-items: center;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  @extend %box-center;
  justify-content: center;
  flex-direction: column;

  .main {
    width: 85vw;
    @extend %box-center;
    justify-content: space-between;
    flex-direction: column;

    .header {
      text-align: left;
      h1 {
        font-size: $base-xl-font-size;
        margin-bottom: 10px;
      }

      h2 {
        font-size: $base-l-font-size;
      }
    }

    svg {
      max-width: 80vw;
      height: 300px;
    }
  }
}

@media (min-width: $breakpoint-small) {
  .wrapper {
    justify-content: center;

    .main {
      width: 70vw;
      flex-direction: row;
      .header {
        text-align: left;
        h1 {
          font-size: $base-xxl-font-size;
          margin-bottom: 20px;
        }

        h2 {
          font-size: $base-xl-font-size;
        }
      }
    }
  }
}
