@import "../../assets/styles/variables.scss";

%box-center {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    @extend %box-center;
    justify-content: center;
    flex-direction: column;

    .main {
      width: 85vw;
      @extend %box-center;
      justify-content: space-between;
      flex-direction: column;

      .header {
        text-align: left;
        width: 100%;
        h1 {
          font-size: $base-xl-font-size;
          margin-bottom: 6px;
          margin-top: 20px;
        }

        h2 {
          font-size: $base-l-font-size;
          margin-bottom: 20px;
        }
      }

      svg {
        max-width: 80vw;
        height: 300px;
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
  .wrapper {
    .container {
      .main {
        width: 70vw;
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
    height: calc(100vh - 70px);
    .container {
      justify-content: center;

      .main {
        flex-direction: row;
        .header {
          text-align: left;
          h1 {
            font-size: $base-xxl-font-size;
            margin-bottom: 20px;
          }

          h2 {
            font-size: $base-l-font-size;
          }
        }
      }
    }
  }
}
