@import "../../../assets/styles/variables.scss";

.wrapper {
    z-index: 99;
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 2px;
    background-color: $white-color;
}

.listItemWrapper {
    margin: 7px 0 7px 10px;
}

.listItem {
    background-color: $white-color;
}