@import "../../../assets/styles/variables.scss";

.wrapper {
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}

.ddContainer {
  position: relative;
}

.errorMsg {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: $error;
  font-size: $small-base-font-size;
}

@media (min-width: $breakpoint-small) {
  .wrapper {
    width: 70vw;
  }
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
