@import "../../../assets/styles/variables.scss";

input {
  outline: none;
  padding: 15px 10px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid $gray;
  height: 50px;
  margin-right: 10px;
}

.inputName {
  flex-grow: 1.5;
}
