@import "../../../assets/styles/variables.scss";

.wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

input {
  outline: none;
  padding: 15px 10px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid $gray;
  height: 50px;
  width: 100%;
  &::placeholder {
    font-size: $base-font-size;
    color: $black-color;
  }
  &:focus {
    border-color: $primary-color;
  }
}

.errorMsg {
  position: absolute;
  left: 0;
  top: -17px;
  color: $error;
  font-size: $base-font-size;
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .wrapperDate {
    width: 200px;
  }
}
