@import "../../../assets/styles/variables.scss";

.wrapper {
  position: relative;
  margin-bottom: 10px;
}

input {
  outline: none;
  padding: 15px 10px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid $gray;
  height: 50px;
  width: 100%;
}

.errorMsg {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: $error;
}

@media (min-width: $breakpoint-small) {

}

@media (min-width: $breakpoint-medium) {
  .wrapper {
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .wrapperName {
    flex-grow: 1.5;
  }
}
