@import "../../assets/styles/variables.scss";

.dropdownWrapper {
  position: relative;
  font-size: $base-m-font-size;
}

.ddFormWrapper {
  width: 180px;
  border: 1px solid $gray;

}

.categoryWrapper {
  width: 100%;
}

.dropdownHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 2px;
  background-color: $white-color;

  .ddForm {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    svg {
      width: 15px;
      height: 15px;
      margin-left: 10px;
    }
  }
}

@media (min-width: $breakpoint-small) {
}

@media (min-width: $breakpoint-medium) {
}