@import "../../assets/styles/variables.scss";

.dropdownWrapper {
  position: relative;
  font-size: $base-m-font-size;
}

.dropdownHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $white-color;
}

