@import "../../assets/styles/variables.scss";

input {
  outline: none;
  padding: 15px 10px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid $gray;
  height: 50px;
  width: 100%;
  &::placeholder {
    font-size: $base-font-size;
    color: $dark-gray;
    font-family: $form-font;
  }
  &:focus {
    border-color: $primary-color;
  }
}

.wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  &.signInWrapper {
    margin-bottom: 35px;
    .signInError {
      color: $white-color;
      svg{
        fill: $white-color;
      }
    }
    input {
      &:focus {
        border-color: $dark-gray;
      }
    }
  }
}

.errorMsg {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: -22px;
  color: $error;
  font-size: $base-font-size;
  svg {
    fill: $error;
    height: 100%;
    width: 20px;
    margin-right: 7px;
  }
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
    margin-right: 10px;
    margin-bottom: 0px;
    &.signInWrapper {
      margin-right: 0px;
    }
  }

  .wrapperDate {
    width: 200px;
  }
}
