@import "./variables.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $form-font;
}

a,
button {
  font-family: $form-font;
}
