@import "../../../../assets/styles/variables.scss";

.signOutContent {
  width: 220px;
  border: 1px solid $gray;
  border-radius: 2px;
  background-color: $light-gray;
  padding: 15px 15px;
  align-items: center;
  z-index: 99;
  position: absolute;
  right: 0;
  p {
    margin-bottom: 10px;
  }
  button {
    background-color: $light-gray;
    font-weight: 700;
  }
}
